

.link-custom:hover{
    text-decoration: none;
}

.bgjumbo{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(img/jumbo.jpg);
    background-position: center;
    background-size: cover;
    height: 81vh;
}

/* form */

.flight-search input, 
.flight-search select {
    border-radius: 25px;
    
}

.rounded{
    border-top-right-radius: 25px!important;
    border-bottom-right-radius: 25px!important;
    border: 1px solid gray;
}

.rounded2{
    border-top-right-radius: 25px!important;
    border-bottom-right-radius: 25px!important;
    
}

#vuoto.custom-select,
#vuoto2.custom-select {

    background: #fff!important;
 
}

.btn-search{
    border-radius: 25px;
    font-size: 14px;
}

/* card */

.title{
    position: relative;
    padding-bottom: 40px;
    
}

.title::after {
    content: '';
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: rgb(77, 138, 218);
    margin-top: 20px;
    
}

.airplane{
 border-radius: 18px;
    border: 2px solid rgb(77, 138, 218);
    display: block;
    width: 36px;
    height: 36px;
    line-height:32px ;
}


